/*#bayonetComponet */

.serchPael {
    display: flex;
    width: 100%;
    margin: 2px;
    padding: 10px;
    align-items: center;
    border: 1px solid #cccccc;
    border-radius: 2px;
}

thead>tr>th,
tbody>tr>td {
    padding: 8px 8px !important;
    /*word-break: break-all;*/
}